html{
    --c-height: 720px;
    --c-width: 1080px;
    /* x offset is half of the window w minus canvas w */
    --x-off: 140px;
}
h1{
    margin: 0;
}
body{
    margin:0;
    background-color:darkslategrey;
    color: whitesmoke;
    position:relative;
}
#scoreboard{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top:0;
    width: var(--x-off);
    height: auto;
    font-size: 1rem;
    align-items: center;
}
#score{
    font-size: 6rem;
    padding: 0;
    height: 6rem;
    width: 100%;
    text-align: center;
}
#info{
    position:absolute;
    top: var(--c-height);
    left:var(--x-off);
}
#start-screen{
    position: absolute;
    left: var(--x-off);
    width: var(--c-width);
    height: var(--c-height);
    font-size: 10rem;
    text-align: center;
    background-color: rgb(15, 6, 117);
}
#results{
    position: absolute;
    left: var(--x-off);
    width: var(--c-width);
    height: var(--c-height);
    font-size: 10rem;
    text-align: center;
    background-color: black;
}
#reset{
    position: absolute;
    left: 35%;
    top: calc(720px - 6rem);
    font-size: 6rem;
    color: green;
}
#canvas{
    position:absolute;
    left: var(--x-off);
}
#therm{
    position:absolute;
    left: calc(1080px + 140px);
    height: var(--c-height);
    border: 1px solid white;
    border-style: inset;
    background-color: rgba(169, 169, 169, 0.302);
    width: var(--x-off);
}
#merc{
    width: 100%;
    min-height: 15%;
    background-color: blue;
}