html{
    --c-height: 720px;
    --c-width: 1080px;
    /* x offset is half of the window w minus canvas w */
    --x-off: 140px;
}
h1{
    margin: 0;
}
ul{
    margin: 0;
    padding:0;
    font-size: 5rem;
}
li{
    list-style: none;
    color:chartreuse;
    font-size: 4rem;
}
body{
    margin:0;
    background-color:darkslategrey;
    color: whitesmoke;
    position:relative;
}
#game{
    position:absolute;
    display: grid;
    grid-template: 
    'score screen temp' 12rem
    'meats screen temp' calc(var(--c-height) - 12rem)
    ;
    grid-template-columns: var(--x-off) var(--c-width) var(--x-off);
}
/* Scoreboard in top left */
#scoreboard{
    grid-area: score;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}
#score{
    font-size: 6rem;
    padding: 0;
    height: 6rem;
    width: 100%;
    text-align: center;
}
#info{
    position:absolute;
    top: var(--c-height);
    left:var(--x-off);
}
.screen{
    grid-area: screen;
    font-size: 9rem;
    text-align: center;
}
/* Character Selection */
#charselect{
    background-color: blue;
}
/* Start screen before first playthrough */
#start{
    background-image: url('./img/screens/titleBackground.png');
    background-size: 100%;
    color:rgb(238, 255, 0);
    text-shadow: 0 0 50px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#spacebar{
    color:aqua;
    border-radius: 30px;
    box-shadow: inset 0 0 35px rgb(255, 0, 166), 0 0 55px rgb(255, 0, 166);
    width: fit-content;
}
/* Screen to display when time runs out */
#end{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#results{
    font-weight: bold;
}
#options{
    display:flex;
    justify-content: space-evenly;
    font-size: 4rem;
    color: green;
    width:100%;
}
#options a{
    border: 2px solid green;
    width:fit-content;
}
#reset{
    font-style: italic;
}
/* canvas */
#canvas{
    grid-area:screen;
}
/* heat gauge on the right */
#therm{
    grid-area: temp;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border: 1px solid white;
    border-style: inset;
    background-color: rgba(169, 169, 169, 0.302);
    width: var(--x-off);
    display: flex;
    flex-direction: column-reverse;
}
#merc{
    width: 100%;
    min-height: 15%;
    background-color: blue; 
}